{% extends 'master_admin.html' %}
{% load static %}

{% block content %}

<script src="{% static 'js/navbar.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/learning_modules.css' %}">

<style>
    #myModal.modal {
        height: 200%;
        width: 100%;
        margin-top: -100px;
        color: transparent;
        background-color: transparent;
    }
    .icon-container.fa.fa-trash.delete-book-icon::before {
        color: red;
    }
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Adjust the width as needed */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.success-message-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5b7cfa;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.book-detail-container {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.close-detail-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1010;
}
.trash-icon {
    color: red;
}

.trash-icon:hover {
    color: red; /* Ensures color remains red on hover */
}
</style>

<div class="header-container">
    <h1 style="font-size: 20px;" class="slide-in-left">Learning Modules</h1>

    <div id="navbar">
        <a href="{% url 'modules' %}" class="navbar-link">Learning Modules</a>
        <a href="{% url 'register-modules' %}" class="navbar-link">Register Instrument</a>
    </div>
</div>
<hr>

<p class="slide-in-left">Instruments</p>


    <div class="button-wrapper" style="visibility: hidden;">
        {% for instrument in instruments %}
        <button onclick="filterInstruments(this, '{{ instrument.instrument_major_name }}', '{{ instrument.instrument_minor_name }}')" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border: 1px solid black;">
            {{ instrument.instrument_major_name }}
        </button>
        {% endfor %}
    </div>
    <!-- Position scrollbar inside the filter-buttons-container -->
    <div class="scrollbar" style="cursor: pointer; margin-top: 10px;"></div>


{% for instrument, books in instruments_with_books %}
    {% if instrument.instrument_major_name %}
        {% if instrument.instrument_minor_name %}
            <div class="student-box slide-in-left" data-major="{{ instrument.instrument_major_name }}" data-minor="{{ instrument.instrument_minor_name }}">
                <p>
                    <i class="fa fa-chevron-right" aria-hidden="true" style="color: rgba(23, 23, 117, 0.526);"></i> <!-- Arrow icon -->
                    {{ instrument.instrument_minor_name }} {{ instrument.instrument_major_name }}
                </p>
                
                <div class="student-details-container slide-in-left">
                    {% for book in books %}
                        <div class="book-container" data-book-id="{{ book.id }}" style="background-color: white;">
                            <ul>
                                <li style="margin-left: 10px;">{{ book.book }}</li> <!-- Assuming Book model has an 'id' field for the book ID -->
                            </ul>
                            <i class="icon-container fa fa-trash delete-book-icon" data-book-id="{{ book.id }}" style="cursor: pointer; color: red; float: right; margin-right: 10px;margin-top: -35px; padding:8px;"></i>
                            <div class="book-detail-container">
                                <div class="book-detail-content">
                                    <!-- Book details will be populated here -->
                                </div>
                                <button class="close-detail-button">Close</button>
                            </div>
                        </div>
                    {% empty %}
                        <div class="empty-message" style="cursor: default;">
                            No books associated with this instrument
                        </div>
                    {% endfor %}

                    <button class="add-module-button" data-instrument-id="{{ instrument.id }}" style="background-color: #5b7cfa; border: none; color: white; border-radius: 10px; padding: 10px;float: right;">Add New Book</button>
                </div>
                <br>
            </div>
        {% else %}
            <div class="student-box slide-in-left" data-major="{{ instrument.instrument_major_name }}">
                <p>{{ instrument.instrument_major_name }}</p>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

<div id="deleteModal" class="modal" style="margin-top: -395px;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Are you sure you want to delete this book?</p>
        <button id="confirmDeleteButton" style="background-color: red; color: white; border: none; border-radius: 10px; padding: 10px;">Delete</button>
        <button id="cancelDeleteButton" style="background-color: gray; color: white; border: none; border-radius: 10px; padding: 10px;">Cancel</button>
    </div>
</div>


<div id="myModal" class="modal" style="margin-top: -200px;">
    <div class="modal-content">
        <div class="modal-header" style="margin-top: -20px; width: 110%; margin-left: -30px;background-color: green;">
            <p class="modal-title" id="verificationModalLabel" style="color: white; margin-left: 225px;">Add Instrument Book</p>
            <button type="button" class="close custom-close-button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="registerForm">
                {% csrf_token %}
                <input type="hidden" id="instrumentIdInput" name="instrument_id">
                
                <!-- Dropdown for selecting books -->
                <select id="bookSelect" name="book" class="form-control" style="width: 100%;">
                    {% for book in book_available %}
                        <option value="{{ book.id }}">{{ book.book }}</option>
                    {% endfor %}
                </select>
                
                <br>
                <br>
                <button type="submit" class="register-module-button" style="background-color: #5b7cfa; border: none; color: white; border-radius: 10px; padding: 10px;">Add Book</button>
            </form>
        </div>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    // Modal and form elements
    const modal = document.getElementById('myModal');
    const deleteModal = document.getElementById('deleteModal');
    const instrumentIdInput = document.getElementById('instrumentIdInput');
    const registerForm = document.getElementById('registerForm');
    const addModuleButtons = document.querySelectorAll('.add-module-button');
    const closeModalBtn = document.querySelector('.modal .close');
    const closeDeleteModalBtn = deleteModal.querySelector('.close');
    const confirmDeleteButton = document.getElementById('confirmDeleteButton');
    const cancelDeleteButton = document.getElementById('cancelDeleteButton');
    let bookIdToDelete = null;
    const successMessageContainer = document.createElement('div');
    successMessageContainer.classList.add('success-message-container');
    document.body.appendChild(successMessageContainer);

    function showModal(instrumentId) {
        instrumentIdInput.value = instrumentId;
        modal.style.display = 'block';
    }

    function closeModal() {
        modal.style.display = 'none';
    }

    function showDeleteModal(bookId) {
        bookIdToDelete = bookId;
        deleteModal.style.display = 'block';
    }

    function closeDeleteModal() {
        deleteModal.style.display = 'none';
    }

    function showSuccessMessage(message) {
        successMessageContainer.innerText = message;
        successMessageContainer.style.display = 'block';
        setTimeout(() => {
            successMessageContainer.style.display = 'none';
        }, 3000); // Message disappears after 3 seconds
    }

    addModuleButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const instrumentId = this.getAttribute('data-instrument-id');
            showModal(instrumentId);
        });
    });

    closeModalBtn.addEventListener('click', function() {
        closeModal();
    });

    closeDeleteModalBtn.addEventListener('click', function() {
        closeDeleteModal();
    });

    window.addEventListener('click', function(event) {
        if (event.target === modal) {
            closeModal();
        } else if (event.target === deleteModal) {
            closeDeleteModal();
        }
    });

    // AJAX submission of the registration form
    registerForm.addEventListener('submit', function(event) {
    event.preventDefault();

    // Get instrument ID from hidden input
    const instrumentId = instrumentIdInput.value;

    // Get selected book ID from dropdown
    const bookSelect = document.getElementById('bookSelect');
    const bookId = bookSelect.value;

    // Construct FormData object
    const formData = new FormData();
    formData.append('instrument_id', instrumentId);
    formData.append('book_id', bookId); // Ensure 'book_id' matches the parameter name in your backend view

    // AJAX request to submit form data
    fetch('/administrator/modules/', {
        method: 'POST',
        body: formData,
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            console.log('Book added successfully');
            showSuccessMessage('Book added successfully');
            // Optionally, update UI or notify user of success
        } else {
            console.error('Failed to add book');
            showSuccessMessage('Failed to add book');
            // Optionally, handle errors or notify user of failure
        }
        closeModal(); // Close modal regardless of success or failure
    })
    .catch(error => {
        console.error('Error:', error);
        showSuccessMessage('An error occurred');
        closeModal(); // Close modal on error
    });
});


    // Function to handle book container click event and redirect to book detail page
    function showBookDetail(bookContainer, bookId) {
        const instrumentMajor = bookContainer.closest('.student-box').getAttribute('data-major');
        const instrumentMinor = bookContainer.closest('.student-box').getAttribute('data-minor');
        const url = `/administrator/modules/book_detail/${bookId}/${instrumentMinor}/${instrumentMajor}/`;
        window.location.href = url;
    }

    // Add click event listeners to all book containers
    const bookContainers = document.querySelectorAll('.book-container');
    bookContainers.forEach(function(container) {
        container.addEventListener('click', function() {
            const bookId = this.getAttribute('data-book-id');
            showBookDetail(this, bookId);
        });
    });

    // Add click event listener to the close detail button
    const closeDetailButtons = document.querySelectorAll('.close-detail-button');
    closeDetailButtons.forEach(button => {
        button.addEventListener('click', function(event) {
            event.stopPropagation(); // Prevent triggering the parent click event
            hideBookDetail();
        });
    });

    // Add click event listener to the delete book icon
    const deleteBookIcons = document.querySelectorAll('.delete-book-icon');
    deleteBookIcons.forEach(icon => {
        icon.addEventListener('click', function(event) {
            event.stopPropagation(); // Prevent triggering the parent click event
            const bookId = this.getAttribute('data-book-id');
            showDeleteModal(bookId);
        });
    });

    // Confirm delete button click event
    confirmDeleteButton.addEventListener('click', function() {
        if (bookIdToDelete) {
            fetch(`/administrator/modules/delete_book/${bookIdToDelete}/`, {
                method: 'DELETE',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Book deleted successfully');
                    showSuccessMessage('Book deleted successfully');
                    // Remove the book container from the DOM
                    document.querySelector(`.book-container[data-book-id="${bookIdToDelete}"]`).remove();
                } else {
                    console.error('Failed to delete book');
                    showSuccessMessage('Failed to delete book');
                }
                closeDeleteModal();
            })
            .catch(error => {
                console.error('Error:', error);
                showSuccessMessage('An error occurred');
                closeDeleteModal();
            });
        }
    });

    // Cancel delete button click event
    cancelDeleteButton.addEventListener('click', function() {
        closeDeleteModal();
    });

    // Function to handle filtering instruments
    function filterInstruments(button, major) {
        closeAllStudentBoxes();
        resetAllBoxPositions();

        const buttons = document.querySelectorAll('.filter-buttons-container button');
        buttons.forEach(function(btn) {
            btn.classList.remove('actives');
        });

        if (button) {
            button.classList.add('actives');
        }

        const items = document.querySelectorAll('.student-box');
        items.forEach(function(item) {
            const itemMajor = item.getAttribute('data-major');
            const itemMinor = item.getAttribute('data-minor');

            if (itemMajor === major || itemMinor === major) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    }

    // Function to close all student boxes
    function closeAllStudentBoxes() {
        const detailsContainers = document.querySelectorAll('.student-details-container');
        detailsContainers.forEach(function(container) {
            container.style.display = 'none';
        });
    }

    // Function to reset all box positions
    function resetAllBoxPositions() {
        const studentBoxes = document.querySelectorAll('.student-box');
        studentBoxes.forEach(function(box) {
            box.style.top = '0';
        });
    }

    // Event listener for scrollbar functionality
    const scrollbar = document.querySelector('.scrollbar');
    const buttonWrapper = document.querySelector('.button-wrapper');
    let startX, startScrollLeft;

    scrollbar.addEventListener('mousedown', function(e) {
        startX = e.clientX;
        startScrollLeft = buttonWrapper.scrollLeft;
        document.addEventListener('mousemove', onMouseMove);
        document.addEventListener('mouseup', onMouseUp);
    });

    function onMouseMove(e) {
        const deltaX = e.clientX - startX;
        buttonWrapper.scrollLeft = startScrollLeft - deltaX;
    }

    function onMouseUp() {
        document.removeEventListener('mousemove', onMouseMove);
        document.removeEventListener('mouseup', onMouseUp);
    }

    // Initial filter by default when the page loads
    filterInstruments(null, '{{ instruments.0.instrument_major_name }}');
    const firstButton = document.querySelector('.filter-buttons-container button');
    if (firstButton) {
        firstButton.classList.add('actives');
    }
});

// Hide book detail function
function hideBookDetail() {
    const bookDetails = document.querySelectorAll('.book-detail-container');
    bookDetails.forEach(detail => {
        detail.style.display = 'none';
    });
}

</script>


<script src="{% static 'js/learning_modules.js' %}"></script>
<script src="{% static 'js/accounts.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>

{% endblock %}
