{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Administrator Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <style>
        /* Additional CSS styles */
        ::-webkit-scrollbar {
            display: none;
        }
        li, ul, nav{
            background-color:  ;
        }
        p {
            color: black;
        }

        .a:hover {
            background-color: #5bca32 !important;
        }

        .bg-wrap {
            background-color: #5b7cfa !important;
        }

        .img.bg-wrap.text-center.py-4::after {
            background-color: transparent;
        }

        .details-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .details {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
            padding: 20px;
            border-radius: 10px;
            width: 55%;
        }

        .card {
            height: 200px;
            width: calc(30% - 10px);
            border: none;
            border-radius: 10px;
            padding: 16px;
            margin-left: 15px;
        }

        #parentLoginsChart {
            width: 40%;
            height: 400px;
            padding: 16px;
        }
        .user-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 20px auto;
        margin-left: 30px;
    }

    .user-logo .img {
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .user-details {
        display: flex;
        align-items: center;
    }

    .user-details h3 {
        margin: 0 10px;
    }

    .user-details h3:first-child {
        font-size: medium;
    }

    .user-details h3:last-child {
        font-size: small;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin-top: 10%;
    }

    .header-image {
        width: 50%;
        z-index: -1;
    }

    .header p {
        margin: 0;
    }
    </style>
</head>
<body>
    
    {% include 'loading_screen.html' %}
    <div class="wrapper d-flex align-items-stretch " style="font-size: small;">
        <nav id="sidebar" class="collapsed" style="position: fixed; background-color: #43207a">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary" style="background-color: #32373d;"></button>
            </div>
            
            
          
            <div class="header">
                <!-- <img src="{% static 'images/music1.png' %}" alt="IMG" class="header-image" style="background-size: 30px;"> -->
                <p style="color: white;">Music Academy Management System</p>
            </div>
            
            
                <hr style="background-color: gray;">
                <div class="user-logo" >
                    <div class="img" style="background-image: url({% static 'images/face2.jpg' %})"></div>
                    <div class="user-details">
                        <h3 style="color: white;">{{ request.user.first_name }} {{ request.user.last_name }} </h3>
                        <h3 style="font-size: small; color: white;">
                            {% for group in request.user.groups.all %}
                            | {{ group }}
                            {% endfor %}
                        </h3>
                    </div>
                </div>
                
         

            <hr style="background-color: gray;">

            <ul class="list-unstyled components mb-5" style="padding-left: 0; background-color: #43207a;">
                <li class="{% if request.path == '/administrator/dashboard/' %}active{% endif %}">
                    <a href="{% url 'dashboard' %}" style="margin-left: 0px;" onclick="showLoadingScreen()">
                        <span class="fa fa-home mr-3"></span><span class="text"> Home</span>
                    </a>
                </li>

                <li class="{% if request.path == '/administrator/accounts/' or request.path == '/administrator/accounts/register/' %}active{% endif %}">
                    <a href="{% url 'accounts' %}"><span class="fa fa-list mr-3"></span><span class="text"> Accounts Management</span></a>   
                </li>

                <li class="{% if request.path == '/administrator/student/' or request.path == '/administrator/student/register-student/' %}active{% endif %}">
                    <a href="{% url 'student' %}"><span class="fa fa-info-circle mr-3"></span><span class="text"> Student Information</span></a>   
                </li>

                <li class="{% if request.path == '/administrator/modules/' or request.path == '/administrator/modules/register-modules/ or ' %}active{% endif %} ">
                    <a href="{% url 'modules' %}"><span class="fa fa-trophy mr-3"></span><span class="text"> Learning Modules</span></a>
                </li>

                <!-- <li class="{% if request.path == '/administrator/payment-history' or request.path == '/administrator/modules/register-modules/' %}active{% endif %}">
                    <a href="{% url 'payment-list' %}"><span class="fa fa-money mr-3"></span><span class="text"> Billing</span></a>
                </li> -->

                <li class="{% if request.path == '/administrator/activity/' or request.path == '/administrator/activity/register-activity/' %}active{% endif %}">
                    <a href="{% url 'activity' %}"><span class="fa fa-pencil mr-3"></span><span class="text"> Activity List</span></a>
                </li>

                <li class="{% if request.path == '/administrator/media/' %}active{% endif %}">
                    <a href="{% url 'media' %}"><span class="fa fa-camera mr-3"></span><span class="text"> Media Gallery</span></a>
                </li>
                

                <li style="position: absolute; bottom: 0; left: 0; width: 100%;">
                    <a href="{% url 'logout' %}"><span class="fa fa-sign-out mr-3"></span><span class="text"> Sign Out</span></a>
                </li>
            </ul>
            
            
        </nav>
        

        <div id="content" class="p-4 p-md-5 pt-5">
            {% block content %}
            <h3 class="mb-4">Dashboard</h3><hr>

            <div class="details-container">
                <div class="details slide-in-left" style="display: inline-block;">
                    <h5 style="font-weight: bold;">Academy Details</h5>
                    <p>Summary</p>
                
                    <div class="card" style="background-color: #FFE2E5; display: inline-block;">
                        <i class="fa fa-user" style="font-size: 24px;"></i>
                        <h4 style="font-weight: bold; margin-top: 10px;">{{ total_teachers }}</h4>
                        <p>Total Teachers</p>
                    </div>
                
                    <div class="card" style="background-color: #F3E8FF;display: inline-block;">
                        <i class="fa fa-graduation-cap" style="font-size: 24px;"></i>
                        <h4 style="font-weight: bold; margin-top: 10px;">{{ total_students }}</h4>
                        <p>Total Students</p>
                    </div>
                
                    <div class="card" style="background-color: #DCFCE7;display: inline-block;">
                        <i class="fa fa-trophy" style="font-size: 24px;"></i>
                        <h4 style="font-weight: bold; margin-top: 10px;">{{ total_instruments }}</h4>
                        <p>Total Instruments</p>
                    </div>
                </div>

                <div class="details slide-in" style="display: inline-block; width: 43%; ">
                    <h5 style="font-weight: bold;">User Logins</h5>
                    <p>Summary</p>
                    <canvas id="parentLoginsChart"></canvas>
                </div>

                <div class="clearfix" style="clear: both;"></div>
                
                <!-- New div added below the existing divs -->
                
            </div>
            <div class="details-container">
                <div class="details slide-in-left" style="display: inline-block; max-height: 600px;">
                    <h5 style="font-weight: bold;">Student Enrolments</h5>
                    <p>Total number of students enrolling for an instrument</p>
                    <select id="ageFilter">
                        <option value="">All</option>
                        <option value="6_10">6-10 years</option>
                        <option value="11_15">11-15 years</option>
                        <option value="16_20">16-20 years</option>
                    </select>
                    <!-- <select id="genderFilter">
                        <option value="">All</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select> -->
                    <button type="button" id="applyFilters" style="background-color: green; color: white; border-radius: 5px; border: none; height: 40px;width:60px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">Search</button>
                    <canvas id="studentEnrollment" style="max-height: 400px;"></canvas>
                </div>

                <div class="details slide-in" style="width: 43%;">
                    <h5 style="font-weight: bold;">Student Ages</h5>
                    <p>Distribution by Age Groups</p>
                    <canvas id="studentAgesChart"></canvas>
                </div>
                

                <div class="clearfix" style="clear: both;"></div>
                
                <!-- New div added below the existing divs -->
                
            </div>

            {% endblock %}
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      $(document).ready(function() {
    var instruments = {{ instruments|safe }};
    var student_enrollments = {{ student_enrollments|safe }};
    var age_6_10 = {{ age_6_10 }};
    var age_11_15 = {{ age_11_15 }};
    var age_16_20 = {{ age_16_20 }};

    

    // Initialize Chart.js for student enrollments
    var ctx = document.getElementById('studentEnrollment').getContext('2d');
    
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: instruments,
            datasets: [{
                label: 'Student Enrollments',
                data: student_enrollments,
                backgroundColor: 'rgba(54, 162, 235, 0.6)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1,
                
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        precision: 0,
                        callback: function(value) {
                            return Number.parseInt(value);
                        }
                    }
                }]
            },
            legend: {
                display: true,
                position: 'top',
                labels: {
                    fontColor: '#333',
                    usePointStyle: true
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });
    // Inside your Chart.js initialization script
// Inside your Chart.js initialization script
myChart.options.onClick = function(event, elements) {
    if (elements.length > 0) {
        var clickedDatasetIndex = elements[0].datasetIndex;
        var clickedElementIndex = elements[0].index;
        var instrumentId = instruments[clickedElementIndex].instrument_id; // Assuming 'id' is the instrument's ID field
        console.log('Clicked instrumentId:', instrumentId); 
        // Redirect to the URL to fetch students for the selected instrument
        window.location.href = `/administrator/fetch_students/${instrumentId}/`;
    }
};



    // Dropdown change event listener
    $('#applyFilters').click(function() {
        var selectedAge = $('#ageFilter').val();
        var selectedGender = $('#genderFilter').val();
        var filteredData = [];

        // Filter student enrollments based on selected age and gender
        if (selectedAge === '6_10') {
            filteredData = [age_6_10];
        } else if (selectedAge === '11_15') {
            filteredData = [age_11_15];
        } else if (selectedAge === '16_20') {
            filteredData = [age_16_20];
        } else {
            filteredData = student_enrollments;
        }

        // Update chart data
        myChart.data.datasets[0].data = filteredData;
        myChart.update();
    });


    
            // Initialize Chart.js for student ages
            var ageData = {
                labels: ['6-10 years', '11-15 years', '16-20 years'],
                datasets: [{
                    label: 'Student Age Groups',
                    data: [
                        {{ age_6_10 }},
                        {{ age_11_15 }},
                        {{ age_16_20 }}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            };
    
            var ctx2 = document.getElementById('studentAgesChart').getContext('2d');
            var studentAgesChart = new Chart(ctx2, {
                type: 'pie',
                data: ageData,
                options: {
                    responsive: true,
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function(tooltipItem) {
                                    var dataset = ageData.datasets[tooltipItem.datasetIndex];
                                    var currentValue = dataset.data[tooltipItem.dataIndex];
                                    return `${tooltipItem.label}: ${currentValue} student(s)`;
                                }
                            }
                        },
                        legend: {
                            position: 'top',
                        }
                    }
                }
            });
    
            // Initialize Chart.js for parent logins
            var ctx3 = document.getElementById('parentLoginsChart').getContext('2d');
            var months = {{ months|safe }};
            var parentLoginCounts = {{ parent_login_values|safe }};
            var teacherLoginCounts = {{ teacher_login_values|safe }};
    
            console.log(months); // Check if months array starts correctly
            console.log(teacherLoginCounts); // Check teacher login counts
            console.log(parentLoginCounts); // Check parent login counts
    
            // Function to shift array to start from the previous month
            function shiftMonthsArray(arr) {
                if (arr.length > 0) {
                    var currentMonthIndex = arr.findIndex(month => month === '{{ current_month_name }}');
                    if (currentMonthIndex !== -1) {
                        var startIndex = (currentMonthIndex - 1 + arr.length) % arr.length;
                        return arr.slice(startIndex).concat(arr.slice(0, startIndex));
                    }
                }
                return arr; // Return original array if no valid shift
            }
    
            months = shiftMonthsArray(months);
    
            var parentLoginsChart = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: months,
                    datasets: [{
                        label: 'Parent Logins',
                        data: parentLoginCounts,
                        backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        borderColor: 'rgba(255, 206, 86, 1)',
                        borderWidth: 1
                    }, {
                        label: 'Teacher Logins',
                        data: teacherLoginCounts,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Number of Logins'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Months'
                            }
                        }
                    }
                }
            });
        });
    
        // Toggle sidebar
        document.getElementById('sidebarCollapse').addEventListener('click', function () {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('collapsed');
        });
    
        // Dropdown functionality
        document.querySelectorAll('.dropdown-btn').forEach(button => {
            button.addEventListener('click', function () {
                this.classList.toggle('active');
                const dropdownContainer = this.nextElementSibling;
                if (dropdownContainer.style.display === "block") {
                    dropdownContainer.style.display = "none";
                } else {
                    dropdownContainer.style.display = "block";
                }
            });
        });
    </script>
    
</body>
</html>
