{% extends 'master_teacher.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/navbar.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/learning_modules.css' %}">

<style>

.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.attendance-card-actions {
    display: flex;
    flex-shrink: 0;
}

.attendance-card-actions button {
    margin-right: 10px;
}




.modal-header {
        background-color: #165227;
        color: white;
    }
.attendance-list {
    margin-top: 20px;
}

.pencil-container {
    float: right;
    margin-left: 10px;
}

.attendance-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.attendance-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Cursor pointer to indicate expandable */
}

.attendance-card-title {
    font-size: 18px;
    font-weight: 600;
}

.attendance-card-actions {
    display: flex;
    align-items: center;
}

.attendance-card-body {
    margin-bottom: 10px;
    display: none; /* Initially hide attendance card body */
}

.attendance-record {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.attendance-record .record-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attendance-record .record-status {
    font-style: italic;
    font-weight: bold;
}

.pending {
    color: orange; /* Text color for Pending Verification */
}

.approved {
    color: green; /* Text color for Approved */
}

.icon-container:hover {
    background-color: white;
}

#updateIcon:hover {
    background-color: white;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    margin-top: -20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styling for the pencil icon */
.pencil-container {
    float: right;
    margin-left: 10px;
}

.filter-buttons {
    border-radius: 10px;
}

button {
    border-radius: 10px;
    border-color: black;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    background-color: white;
}

button:hover {
    border: none;
    background-color: #5b7cfa;
    color: white;
}

button:active {
    background-color: green;
    color: white;
    border: none;
}

.dropdown-container {
    margin-bottom: 20px;
}

.dropdown-container select {
    padding: 10px;
    font-size: 14px;
   
    border: 1px solid #ccc;
    width: 200px;
    margin-right: 10px;
}
.search-bar-container {
    position: relative;
    display: inline-block;
    width: 100%;
    float: right;
}

#searchBar {
    width: 50%; /* Adjust padding and icon width */
    padding: 10px;
    padding-right: 30px; /* Adjust as necessary */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 500px;
    transform: translateY(-50%);
    color: #aaa;
}
</style>

<div class="header-container">
    <h1 style="font-size: 20px;" class="slide-in-left">Attendance List</h1>
    <div id="navbar">
        <a href="{% url 'student-attendance' %}" class="navbar-link">Student Attendance</a>
        <a href="{% url 'attendance-list' %}" class="navbar-link">Attendance List</a>
        
    </div>
</div>

<hr>



<!-- <div class="dropdown-container">
    <select id="instrumentDropdown" onchange="filterByInstrument(this.value)">
        <option value="">Select Instrument</option>
        {% for instrument in instruments %}
            <option value="{{ instrument }}">{{ instrument }}</option>
        {% endfor %}
    </select>
</div> -->

<!-- Attendance list grouped by student names -->
<div class="attendance-list slide-in">
    <div class="actions-container">
    <!-- <div class="attendance-card-actions">
        <button onclick="filterAttendance('Pending')" class="active">Pending</button>
        <button onclick="filterAttendance('Approved')">Approved</button>
    </div> -->

    <div class="search-bar-container">
        <input type="text" id="searchBar" onkeyup="searchStudent()" placeholder="Search for student name..." title="Type in a name" style="width: 60%; padding: 10px;">
        <i class="fa fa-search search-icon"></i>
    </div>
    </div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
    
    <br>
    {% if attendance_list %}
        {% regroup attendance_list by student as student_records %}
        {% for student_group in student_records %}
        
            <div class="attendance-card">
                <div class=" fa fa-info" style="display: inline-block; float: right;border-color: #165227; color: #5b7cfa;cursor: pointer;"
                         onclick="openInfoModal('{{ student_group.grouper }}', '{{ student_group.list|safe }}')">
                    </div>
                <div class="attendance-card-header" onclick="toggleAttendanceCard(this)">
                    <div class="attendance-card-title" style="color: black; font-size: 14px; font-weight: normal;display: inline-block;">
                        {{ student_group.grouper }}
                        
                    </div>
                    
                </div>
                <div class="attendance-card-body" style="margin-top: 10px;">
                    {% for attendance in student_group.list %}
                        <div class="attendance-record" style="padding: 20px;">
                            <div class="record-info">
                                <strong style="color: black;">{{ attendance.title }} - {{attendance.instrument_major_name}}</strong>
                                <span class="record-status {% if attendance.attendance == 'Absent' %}absent{% elif attendance.attendance == 'Attend' %}attend{% endif %} {% if attendance.status == 'Pending Verification' %}pending{% elif attendance.status == 'Approved' %}approved{% endif %}">
                                    {% if attendance.status == 'Pending Verification' %}
                                        <span class="pending">Pending Verification</span>
                                    {% elif attendance.status == 'Approved' %}
                                        <span class="approved">Approved</span>
                                    {% else %}
                                        {{ attendance.status }}
                                    {% endif %}
                                </span>
                                <div>
                                    <span>{{ attendance.date }}</span>
                                    <div style="display: block;">
                                        <span>{{ attendance.start_time|date:"g:i A" }}</span>
                                        <span>{{ attendance.end_time|date:"g:i A" }}</span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="attendance-description">{{ attendance.description }}</div>
                            {%if attendance.absence_reason %}
                                <div class="" style="color: black;">{{ attendance.absence_reason }}</div>
                            {% else %}
                                <p></p>
                            {% endif %}
                            <div class="attendance-description">
                                {% if attendance.attendance == 'Absent' %}
                                    <p style="color: red; font-weight: bold;">Absent</p>
                                {% elif attendance.attendance == 'Attend' %}
                                    <p style="color: green; font-weight: bold;">Attend</p>
                                {% else %}
                                    {{ attendance.status }}
                                {% endif %}
                            </div>
                            {% if attendance.status != 'Approved' %}
                            <div class="icon-container pencil-container" 
                                onclick="openModal('{{ student_group.grouper }}', '{{ attendance.id }}', '{{ attendance.date }}', '{{ attendance.start_time|date:"g:i A" }}', '{{ attendance.end_time|date:"g:i A" }}', '{{ attendance.title }}', '{{ attendance.description }}', '{{ attendance.absence_reason }}')" 
                                style="border-color: black; margin-top: -40px;" 
                                data-username="{{ account.username }}">
                                <i class="fa fa-pencil" id="updateIcon" style="color: #5b7cfa;"></i>
                            </div>

                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="attendance-card-body" style="margin-top: 10px;">
                        {% for attendance in student_group.list %}
                            <!-- Display individual attendance records -->
                            <div class="attendance-record">
                                <p><strong>Title:</strong> {{ attendance.title }}</p>
                                <p><strong>Description:</strong> {{ attendance.description }}</p>
                                <p><strong>Date:</strong> {{ attendance.date }}</p>
                                <p><strong>Start Time:</strong> {{ attendance.start_time|date:"g:i A" }}</p>
                                <p><strong>End Time:</strong> {{ attendance.end_time|date:"g:i A" }}</p>
                                <p><strong>Attendance:</strong> {{ attendance.attendance }}</p>
                                <p><strong>Status:</strong> {{ attendance.status }}</p>
                                {% if attendance.absence_reason %}
                                    <p><strong>Absence Reason:</strong> {{ attendance.absence_reason }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No attendance records found.</p>
    {% endif %}
</div>

<!-- The Info Modal -->
<div id="infoModal" class="modal">
    <div class="modal-content slide-in">
        <div class="modal-header">
            <p class="modal-title" style="color: white;">Attendance Overview</p>
            <span class="close" onclick="closeInfoModal()">&times;</span>
        </div>

        <div id="infoModalContent">
            
            <table id="attendanceTable" class="attendance-table" border="1">
               
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table rows will be dynamically added here by JavaScript -->
                    <tr>
                        <td>Attend (Approved)</td>
                        <td id="attendApprovedCount"></td>
                    </tr>
                    <tr>
                        <td>Attend (Pending Verification)</td>
                        <td id="attendPendingCount"></td>
                    </tr>
                    <tr>
                        <td>Absent (Approved)</td>
                        <td id="absentApprovedCount"></td>
                    </tr>
                    <tr>
                        <td>Absent (Pending Verification)</td>
                        <td id="absentPendingCount"></td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Total</td>
                        <td id="totalAttendanceCount"></td>
                    </tr>
                </tbody>
            </table>
            <table id="descriptionTable" border="1">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Placeholder rows for description data -->
                    <tr>
                        <td>Description 1</td>
                        <td>Count 1</td>
                    </tr>
                    <tr>
                        <td>Description 2</td>
                        <td>Count 2</td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- The Verify Modal -->
<div id="verifyModal" class="modal">
    <div class="modal-content">
        <div class="modal-header" style="margin-top: -20px; width: 110%; margin-left: -20px;">
            <p class="modal-title" id="verificationModalLabel" style="color: white; margin-left: 200px;">Verify Absence</p>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <br>
        <p id="attendanceName"></p>
        <p id="attendanceTitle"></p>
        <p id="attendanceDescription"></p>
        <p id="attendanceDate"></p>
        <p id="attendanceStartTime"></p>
        <p id="attendanceEndTime"></p>
        <hr style="background-color: black;">
        <label for="attendanceReason"><strong>Absence Reason :</strong></label>
        <textarea id="attendanceReason" readonly style="resize: none;padding-left: 10px;"></textarea>
        <br>
        <form id="verifyForm" method="post" action="{% url 'verify-attendance' %}">
            {% csrf_token %}
            <input type="hidden" name="attendance_id" id="attendanceId">
            <button type="submit">Verify</button>
        </form>
    </div>
</div>

<script>
function filterAttendance(status) {
    var records = document.getElementsByClassName("attendance-record");
    var buttons = document.querySelectorAll(".attendance-card-actions button");

    // Remove active class from all buttons
    buttons.forEach(function(button) {
        button.classList.remove("active");
    });

    // Highlight the clicked button
    event.target.classList.add("active");

    for (var i = 0; i < records.length; i++) {
        var record = records[i];
        if (status === 'All' || record.classList.contains(status.toLowerCase())) {
            record.style.display = "block";
        } else {
            record.style.display = "none";
        }
    }
}

function toggleAttendanceCard(element) {
    var cardBody = element.nextElementSibling; // Get the next sibling which is the attendance-card-body
    cardBody.style.display = (cardBody.style.display === 'none' || cardBody.style.display === '') ? 'block' : 'none';
}

// Get the modal
var verifyModal = document.getElementById("verifyModal");
var infoModal = document.getElementById("infoModal");

// Function to open the verify modal
function openModal(studentName, attendanceId, date, startTime, endTime, title, description, absence_reason) {
    verifyModal.style.display = "block";
    document.getElementById("attendanceName").innerHTML = "<strong>Student Name:</strong> " + studentName;
    document.getElementById("attendanceId").value = attendanceId;
    document.getElementById("attendanceDate").innerHTML = "<strong>Date:</strong> " + date;
    document.getElementById("attendanceStartTime").innerHTML = "<strong>Start Time:</strong> " + startTime;
    document.getElementById("attendanceEndTime").innerHTML = "<strong>End Time:</strong> " + endTime;
    document.getElementById("attendanceTitle").innerHTML = "<strong>Title:</strong> " + title;
    document.getElementById("attendanceDescription").innerHTML = "<strong>Description:</strong> " + description;
    document.getElementById("attendanceReason").value = absence_reason || "Not provided";
}


function openInfoModal(studentName, attendanceList) {
    var infoModal = document.getElementById("infoModal");
    infoModal.style.display = "block"; // Show the modal

    var records = attendanceList.slice(1, -1).split('>, <');

    // Initialize counts
    var attendApprovedCount = 0;
    var attendPendingCount = 0;
    var absentApprovedCount = 0;
    var absentPendingCount = 0;

    // Initialize an object to store descriptions and their counts
    var descriptionCounts = {};

    records.forEach(function(record) {
        var cleanedRecord = record.replace(/[<>]/g, '').trim();
        var components = cleanedRecord.split(' - ');

        var attendanceType = components[2].trim();
        var attendanceStatus = components[1].trim();
        var statusStatus = components[6].trim();
        var description = components[10].trim();

        console.log("Description : " + description);

        if (attendanceType === 'Class') {
            if (attendanceStatus === 'Attend') {
                if (statusStatus === 'Approved') {
                    attendApprovedCount++;
                } else if (statusStatus === 'Pending Verification') {
                    attendPendingCount++;
                }
            } else if (attendanceStatus === 'Absent') {
                if (statusStatus === 'Approved') {
                    absentApprovedCount++;
                } else if (statusStatus === 'Pending Verification') {
                    absentPendingCount++;
                }
            }
        }

        if (attendanceStatus === 'Absent' && description) {
            if (!descriptionCounts[description]) {
                descriptionCounts[description] = 0;
            }
            descriptionCounts[description]++;
        }
    });

    var totalAttendanceCount = attendApprovedCount + attendPendingCount + absentApprovedCount + absentPendingCount;
    var tableContent = `
        <br><p>Class</p>
        <tr>
            <td>Attend (Approved)</td>
            <td>${attendApprovedCount}</td>
        </tr>
        <tr>
            <td>Attend (Pending Verification)</td>
            <td>${attendPendingCount}</td>
        </tr>
        <tr>
            <td>Absent (Approved)</td>
            <td>${absentApprovedCount}</td>
        </tr>
        <tr>
            <td>Absent (Pending Verification)</td>
            <td>${absentPendingCount}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Total</td>
            <td>${totalAttendanceCount}</td>
        </tr>
    `;

    // Generate description table rows
    var descriptionTableContent = '';
    for (var description in descriptionCounts) {
        if (descriptionCounts.hasOwnProperty(description)) {
            descriptionTableContent += `
                <tr>
                    <td>${description}</td>
                    <td>${descriptionCounts[description]}</td>
                </tr>
            `;
        }
    }

    document.getElementById("infoModalContent").innerHTML = `
        <table id="attendanceTable" class="description-table" border="1">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                ${tableContent}
            </tbody>
        </table>
        <p>Absences</p>
        <table id="descriptionTable" class="attendance-table" border="1">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                ${descriptionTableContent}
            </tbody>
        </table>
    `;
}




// Function to close the info modal
function closeInfoModal() {
    var infoModal = document.getElementById("infoModal");
    infoModal.style.display = "none"; // Hide the modal
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    var infoModal = document.getElementById("infoModal");
    if (event.target == infoModal) {
        closeInfoModal();
    }
}

function filterByInstrument(instrument) {
    var cards = document.getElementsByClassName("attendance-card");

    for (var i = 0; i < cards.length; i++) {
        var card = cards[i];
        var studentName = card.querySelector(".attendance-card-title").textContent.trim();

        // Check if the student's instrument matches the selected instrument
        if (instrument === '' || studentInstruments[studentName] === instrument) {
            card.style.display = "block";
        } else {
            card.style.display = "none";
        }
    }
}

// Search function
function searchStudent() {
    var input = document.getElementById("searchBar");
    var filter = input.value.toUpperCase();
    var attendanceCards = document.querySelectorAll('.attendance-card');

    attendanceCards.forEach(function(card) {
        var titleElement = card.querySelector('.attendance-card-title');
        if (titleElement.textContent.toUpperCase().indexOf(filter) > -1) {
            card.style.display = "";
        } else {
            card.style.display = "none";
        }
    });
}
</script>


{% endblock %}
