
{%load static%}

{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teacher Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Update the link tag to point to your CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">


    <style>
        li, ul {
            border-color: #32373d;
        }

        .img.bg-wrap.text-center.py-4::after {
            background-color: transparent;
        }

        ::-webkit-scrollbar {
            display: none;
        }
        li, ul, nav{
            background-color:  ;
        }
        p {
            color: black;
        }

        .a:hover {
            background-color: #5bca32 !important;
        }

        .bg-wrap {
            background-color: #5b7cfa !important;
        }

        .img.bg-wrap.text-center.py-4::after {
            background-color: transparent;
        }

        .details-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .details {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
            padding: 20px;
            border-radius: 10px;
            width: 55%;
        }

        .card {
            height: 200px;
            width: calc(30% - 10px);
            border: none;
            border-radius: 10px;
            padding: 16px;
            margin-left: 15px;
        }

    </style>
</head>
<body>

    {% include 'loading_screen.html' %}


    <div class="wrapper d-flex align-items-stretch " style="font-size: small; ">
        <nav id="sidebar" class="collapsed" style="position: fixed; background-color: #43207a" >
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary" style="background-color: #32373d;">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-color: #43207a !important;">
                <div class="user-logo">
                    <div class="img" style="background-image: url({% static 'images/face2.jpg' %})"></div>
                    <h3>Welcome, {{ request.user.first_name }} {{ request.user.last_name }}</h3>
                    <h3 style="font-size: small;"> 
                        {% for group in request.user.groups.all %}
                           You're a {{ group }}
                        {% endfor %}
                    </h3>
                </div>
            </div>


            <ul class="list-unstyled components mb-5" style="padding-left: 0;background-color: #43207a " >
                <li class="{% if request.path == '/teacher' %}active{% endif %}">
                    <a href="{% url 'teacher' %}"  style="margin-left: 0px;" onclick="showLoadingScreen()"><span class="fa fa-home mr-3" ></span><span class="text"> Home</span></a>
                </li>
                
                <li class = "{% if request.path == '/teacher/teaching-modules' %}active{% endif %} ">
                    <a href="{% url 'teaching_modules' %}" style="margin-left: 0px;" onclick="showLoadingScreen()"><span class="fa fa-trophy mr-3"></span><span class="text"> Student Performance</span></a>
                </li>
                <li class="{% if request.path == '/teacher/student-attendance/' %}active{% endif %} {% if request.path == '/administrator/student/register-student/' %}active{% endif %}">
                    <a href="{% url 'student-attendance' %}" style="margin-left: 1px;" ><span class="fa fa-info-circle mr-3"></span><span class="text"> Student Attendance</span></a>
                </li>
                <li class="{% if request.path == '/administrator/student/' %}active{% endif %} {% if request.path == '/administrator/student/register-student/' %}active{% endif %}">
                    <a href="{% url 'activity-list' %}" style="margin-left: 1px;" ><span class="fa fa-pencil mr-3"></span><span class="text"> Activity List</span></a>
                </li>
                <li class="{% is_active '/administrator/modules/' '/administrator/modules/book_detail/' %}">
                    <a href="" style="margin-left: 1px;">
                        <span class="fa fa-camera mr-3"></span><span class="text"> Media Gallery</span>
                    </a>
                </li>
<!--                 
                <li >
                    <a href="#"><span class="fa fa-money mr-3"></span><span class="text"> Billing</span></a>
                </li>
                <li  class="{% if request.path == '/administrator/activity/' %}active{% endif %} {% if request.path == '/administrator/activity/register-activity' %}active{% endif %} "  >
                    <a href=""><span class="fa fa-pencil mr-3"></span><span class="text"> Activity</span></a>
                </li>
                <li class="{% if request.path == '/administrator/media/' %}active{% endif %} "  >
                    <a href=""><span class="fa fa-camera mr-3"></span><span class="text"> Media</span></a>
                </li> -->
                <li style="position: absolute; bottom: 0; left: 0; width: 100%;">
                    <a href="{% url 'logout' %}"><span class="fa fa-sign-out mr-3"></span><span class="text"> Sign Out</span></a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
      

        <div id="content" class="p-4 p-md-5 pt-5">
            {% block content %}
            <h3 class="mb-4 slide-in-left" style="font-size: 20px;">Teacher Dashboard</h3><hr>

            <div class="details-container">
                <div class="details slide-in-left" style="display: inline-block;">
                    <h5 style="font-weight: bold;">Teaching Details</h5>
                    <p>Summary</p>
                
                    <!-- <div class="card" style="background-color: #FFE2E5; display: inline-block;">
                        <i class="fa fa-user" style="font-size: 24px;"></i>
                        <h4 style="font-weight: bold; margin-top: 10px;">{{ total_teachers }}</h4>
                        <p>Total Teachers</p>
                    </div> -->
                
                    <div class="card" style="background-color: #F3E8FF;display: inline-block;">
                        <i class="fa fa-graduation-cap" style="font-size: 24px;"></i>
                        <h4 style="font-weight: bold; margin-top: 10px;">{{ total_students }}</h4>
                        <p>Students Taught</p>
                    </div>
                
                    <div class="card" style="background-color: #DCFCE7;display: inline-block;">
                        <i class="fa fa-trophy" style="font-size: 24px;"></i>
                        <h4 style="font-weight: bold; margin-top: 10px;">{{ total_instruments }}</h4>
                        <p>Total Instruments</p>
                    </div>
                </div>

              
            </div>

    
            
            {% endblock %}
        </div>



    </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        // Toggle sidebar collapse
        document.getElementById('sidebarCollapse').addEventListener('click', function () {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('collapsed');
        });
    </script>
    
</body>
</html>
